.events{
    &-title{
        text-align: center;
        font-size: 4vmin;
        color: var(--hirdy-color);

    }
       
     &-row{
        margin-top: 50px;

        &-col{
            display: flex;
            flex-direction: column;
            align-items: center;

        }

        img{
            width: 80%;

        }

        .btn{
            margin-top: 30px;
        }
     }
}